builds/

# Ignora tutti i file .dll
*.dll

# Ignora tutti i file .a
*.a

# Ignora tutti i file nella cartella chilkat
chilkat/*

# Eccezione per il file load.pri nella cartella chilkat
!chilkat/chilkat.pri

# Ignora tutti i file .user
.user